@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito+Sans:opsz@6..12&display=swap');

body {
	font-family: 'Montserrat', sans-serif;
}

input {
	font-family: 'Nunito Sans', sans-serif;
}

input::placeholder {
	color: #5f5f5f;
	font-family: 'Nunito Sans', sans-serif;
}

i {
	display: flex;
}

.text-shadow {
	text-shadow: 3px 3px 3px #000a;
}
