@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito+Sans:opsz@6..12&display=swap');

body {
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
	background: #e9f3f3;
}

i {
	display: flex;
}

.text-shadow {
	text-shadow: 3px 3px 3px #000a;
}

.box-shadow {
	box-shadow: 2px 2px 5px #0003;
}

.hover\:child-flex:hover > div {
	display: flex;
}
